
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Data_Vizualizer/.vs/Data_Vizualizer/v15/.suo
Data_Vizualizer/.vs/Data_Vizualizer/v15/Server/sqlite3/storage.ide
Data_Vizualizer/.vs/Data_Vizualizer/v15/Server/sqlite3/storage.ide-shm
Data_Vizualizer/.vs/Data_Vizualizer/v15/Server/sqlite3/storage.ide-wal
Data_Vizualizer/Data_Vizualizer/App_Data/aspnet-Data_Vizualizer-20191107024320.mdf
Data_Vizualizer/Data_Vizualizer/App_Data/aspnet-Data_Vizualizer-20191107024320_log.ldf
Data_Vizualizer/Data_Vizualizer/obj/Release/Data_Vizualizer.csproj.CoreCompileInputs.cache
FileUploadController.cs
